@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/** {
  border: thin solid red;
}*/

h1, h2, h3 {
  color: rgb(20,20,20);
  font-family: Roboto Slab;
}

body {
  background-color: #D2D2D7;
  color:#2C3034;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: lighter;
  width: 85%;
  margin: 0 auto;
}

#sidebar {
  position: fixed;
  width: 50px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #717172;
}

#sidebar ul{
  list-style: none;
  padding: 15px;
  line-height: 40px;
  font-size: 20px;
}

#page-content {
  margin-left: 300px;
}

a {
  color: rgb(150,150,150);
  text-decoration: none;
}

a:hover{
  color:rgb(20,20,20);
}

.text-center{
  text-align: center;
  padding-bottom: 40px !important;
}

.card-white{
  background-color:#efefef;
  margin: 10px auto;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px #D3D3D3;
}

.img-circle{
  width: 250px;
  height: 250px;
  border-radius: 125px;
  text-align: center;
  border:2px solid #717172;
}

.list-inline{
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.list-inline li{
  display: inline-block;
  padding: 10px;
}

.btn-lightblue{
  background-color: #6C9FA0;
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
}

.img-rectangle{
  width: 300px;
  height: 250px;
  border-radius: 5px;
  border: 2px solid white;
}

.text-block{
  text-align: justify;
  padding-left: 20px;
  color:#2C3034;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: lighter;
}

.icon-white{
  color: white;
}

.icon-white:hover{
  color: rgb(70,70,70);
}
/* Here goes your CSS */
